{% extends 'base_plus_navbar.html' %}
{% load static %}

{% block title %}Update Review - LITReview{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'reviews/review_create.css' %}">
{% endblock extra_css%}

{% block content %}
<h1 id="page-title">Modifier la critique</h1>
<div class="review-container">
    <div class="response-header">
        <p>Vous êtes en train de poster en réponse à</p>
    </div>
    <div class="review-body">
        <!-- Ticket -->
        {% include 'reviews/ticket_snippet.html' with ticket=review.ticket %}
    </div>

    <!-- Review Form -->
    <div class="review-card">
        <h2>Critique</h2>
        <form method="post">
            {% csrf_token %}

            <!-- Title -->
            <div class="form-group">
                <label for="id_headline">Titre</label>
                <input type="text" name="headline" id="id_headline"
                       class="form-control" value="{{ form.headline.value }}" required>
            </div>

            <!-- Rating -->
            <div class="form-group">
                <label>Note</label>
                <div class="rating-grid">
                    {% for i in "012345"|make_list %}
                    <div class="rating-option">
                        <label for="id_rating_{{ forloop.counter }}">
                            <input type="radio" name="rating" id="id_rating_{{ forloop.counter }}" value="{{ i }}" required>
                            <span class="radio-number">{{ i }}</span>
                        </label>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <!-- Comment -->
            <div class="form-group">
                <label for="id_body">Commentaire</label>
                <textarea name="body" id="id_body" class="form-control"
                          rows="5">{{ form.body.value }}</textarea>
            </div>

            <!-- Buttons -->
            <div class="form-buttons">
                <a href="{% url 'reviews:feed' %}" class="cancel-btn">Annuler</a>
                <button type="submit" class="submit-btn">Mettre à jour</button>
            </div>
        </form>
    </div>
</div>
{% endblock content%}