<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}LITReview{% endblock %}</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }
        .wrapper {
            width: 75%;
            margin: 0 auto;
            border: 2px solid black;
        }
        header {
            border-bottom: 2px solid black;
            font-size: 24px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <header>LITReview</header>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>
